<!doctype html>
<html lang="en">
<head>
	<base href="/">
	<meta charset="UTF-8">
	<title>chatBox client</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<script src="/socket.io/socket.io.js"></script>
	<script src="js/zepto.min.js"></script>
	<style>
		.chatArea{
			position: fixed;
			bottom: 0;
			width: 100%;
			height: 80px;
		}
		#chatTextArea{
			height: 50px;
		}
		#chatroomBox{
			width: 100%;
			overflow: auto;
		}
		#statusContainer{
			width: 100%;
		}
	</style>
</head>

<body>
	<div class="container-fluid">
		<div class="btn btn-default btn-block" id="statusContainer">connecting...</div>
		<div id="chatroomBox">
			<div>
			<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, numquam, voluptas, dicta porro facilis soluta deserunt voluptate doloribus quia quis animi dolores delectus cum tenetur illo! Dolor eum quia ipsam.</div>
			<div>Magnam, excepturi, facere autem accusantium dolores voluptatibus magni dignissimos quae eius quos necessitatibus natus consequatur temporibus nisi nobis soluta minima possimus et odit quas sunt commodi reprehenderit qui. Sed, architecto.</div>
			<div>Id, facere, itaque, eos quod atque dolor vero omnis nobis quibusdam temporibus autem expedita unde harum nemo perspiciatis labore earum esse iure quisquam adipisci odio quaerat eveniet. Omnis, eum, eos.</div>
			<div>Dicta, id, repellat cum quibusdam obcaecati voluptatibus minus sunt mollitia illum nesciunt necessitatibus provident veritatis dignissimos porro adipisci excepturi magni eos cupiditate similique impedit sint? Ipsam totam facere molestias dolor!</div>
			<div>Ab, at, asperiores magni temporibus odit officia fugit iste ea deserunt rerum recusandae veritatis et saepe aliquam amet neque nostrum maxime sapiente blanditiis esse suscipit pariatur placeat error vel illum.</div>
		</div>
		<div class="chatArea row">
			<textarea class="form-control col-md-12" id="chatTextArea" disabled="disabled" placeholder="type here to chat with <%= name %>..."></textarea>
			<button class="btn btn-block btn-primary col-md-12" id="submitButton">send</button>
			</div>
			
		</div>
	</div>
<script>
var name = '<%= name %>';
var key = '<%= key %>';
var nick = 'usernick1';


var setStatus = function(msg,state){
	$status.html(msg);
	$status.attr('class','btn btn-'+state);
};

var setStatusOnline = function(){
	$chatTextArea.attr('disabled',null);
	setStatus(name+' is online','success');
};

var setStatusOffline = function(){
	$chatTextArea.attr('disabled','disabled');
	setStatus(name+' is offline','danger');
};

	$(document).ready(function(){
		//setting height 
		var th = $(window).height();
		$('#chatroomBox').css('height',(th-80)+'px');
		 $chatTextArea = $('#chatTextArea');
		 $status = $('#statusContainer');
		var socket = io.connect('http://localhost');
		socket.on('connection:finished',function(data){
			setStatus('checking online status','info');
			console.log('connected to socket , socket.id ='+data);
			socket.emit('normal:join',{key:key,nick:nick});
			console.log('joining for session');
		});

		socket.on('normal:joined',function(data){
			console.log('normal joined '+data);
			if(data.status=='online'){
				setStatusOnline();
			} else {
				setStatus(name+' is offline','danger');
			}
			
		});

		socket.on('chatbox:cameOnline',function(){
			setStatusOnline();
		});

		socket.on('chatbox:goneOffline',function(){
			setStatusOffline();
		});

		

		
	});
</script>	
</body>
</html>